.apoyo {
    background-color: rgb(83, 83, 83);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

#presentation {
    padding: 7rem 0;
    text-align: center;
}

#presentation h2 {
    color: rgb(21, 111, 196);
}

#presentation p {
    color: white;
    text-align: justify;
    padding: 30px;
}

.parallax__container {
    clip: rect(0, auto, auto, 0);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -100;
}

.parallax {
    position: fixed;
    top: 0;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    #presentation h2 {
        font-size: 30px;
    }
    #presentation p {
        font-size: 16px;
    }
}